# temporary for clusterizer testing
node_modules
local-storage
.DS_Store
# discovery-provider/nats/generated.conf

override.env
auto-upgrade.log

# .env files for system (tag, env management)
discovery-provider/.env
creator-node/.env
