override.env
blockscout.env
audius-cli.log
auto-upgrade.log
.venv

# .env files for system (tag, env management)
discovery-provider/.env
creator-node/.env
identity-service/.env

# discovery blockchain
discovery-provider/chain/spec.json
discovery-provider/chain/static-nodes.json

#old utilities
sp-utilities/node_modules/*
utilities/node_modules/*
