version: "3.9"

# used by audius-d devnet
x-extra-hosts: &extra-hosts
  extra_hosts:
    - "creator-1.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "discovery-1.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "identity.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "eth-ganache.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "acdc-ganache.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "solana-test-validator.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"

services:
  db:
    container_name: postgres
    extends:
      file: ../common-services.yml
      service: base-postgres
    environment:
      POSTGRES_DB: audius_identity_service
    volumes:
      - /var/k8s/identity-service-db:/var/lib/postgresql/data # Use k8s location for consistency
    networks:
      - identity-service-network

  cache:
    container_name: redis
    extends:
      file: ../common-services.yml
      service: base-redis
    networks:
      - identity-service-network

  backend:
    image: audius/identity-service:${TAG:-0cad4edd7e554818368959c80791b3723c0f0b14}
    container_name: server
    <<: *extra-hosts
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    labels:
      autoheal: "true"
    ports:
      - "7000:7000"
    env_file:
      - ${NETWORK}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - identity-service-network

  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    environment:
      - AUTOHEAL_INTERVAL=300
      - CURL_TIMEOUT=300

  vector:
    extends:
      file: ../common-services.yml
      service: vector
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - identity-service-network

networks:
  identity-service-network:
