{
    order cache before rewrite
    order request_header before cache
    debug
}

{$creatorNodeEndpoint} {
  {$CADDY_TLS}
  encode zstd gzip

  reverse_proxy mediorum:1991
  reverse_proxy /healthz* healthz
}
