version: "3.9"

# used by audius-d devnet
x-extra-hosts: &extra-hosts
  extra_hosts:
    - "creator-1.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "discovery-1.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "identity-1.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "eth-ganache.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "acdc-ganache.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "solana-test-validator.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"

services:
  db:
    container_name: postgres
    image: postgres:15.5-bookworm
    shm_size: 2g
    restart: always
    entrypoint: >
        /bin/bash -c 
        "if [ -f /var/lib/postgresql/data/pg_hba.conf ]; then
          if [[ $$(tail -n 1 /var/lib/postgresql/data/pg_hba.conf) != 'hostnossl    all          all            0.0.0.0/0  trust' ]]; then
            echo 'hostnossl    all          all            0.0.0.0/0  trust' >> /var/lib/postgresql/data/pg_hba.conf;
          fi;
        fi;
        /usr/local/bin/docker-entrypoint.sh postgres -c shared_buffers=2GB -c max_connections=500 -c shared_preload_libraries=pg_stat_statements -c listen_addresses='*'"
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 10s
      timeout: 5s
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: audius_creator_node
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    volumes:
      - /var/k8s/creator-node-db-15:/var/lib/postgresql/data
    networks:
      - creator-node-network

  cache:
    container_name: redis
    extends:
      file: ../common-services.yml
      service: base-redis
    networks:
      - creator-node-network

  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    environment:
      - AUTOHEAL_INTERVAL=10
      - CURL_TIMEOUT=30
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file

  vector:
    extends:
      file: ../common-services.yml
      service: vector
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - creator-node-network

  mediorum:
    image: audius/mediorum:${TAG:-1eb3aa1f90b4ee37edd15d8e5145b60e6c7394a7}
    container_name: mediorum
    <<: *extra-hosts
    restart: unless-stopped
    networks:
      - creator-node-network
    ports:
      - "${MEDIORUM_PORT:-4000}:1991"
      - 127.0.0.1:6060:6060
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    volumes:
      - /var/k8s/mediorum:/tmp/mediorum
      - /var/k8s/creator-node-backend:/file_storage
    environment:
      - LOGSPOUT=ignore
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    depends_on:
      db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '6' # 8 is required for all SPs, so we'll leave 2 for the OS, postgres, etc
          memory: 14G # 16G is required for all SPs, so we'll leave 2G for the OS, postgres, etc

  healthz:
    image: audius/healthz:${TAG:-1eb3aa1f90b4ee37edd15d8e5145b60e6c7394a7}
    container_name: healthz
    restart: unless-stopped
    networks:
      - creator-node-network

  caddy:
    image: audius/caddy:2.7.4
    container_name: caddy
    <<: *extra-hosts
    restart: unless-stopped
    env_file:
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - creator-node-network
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - dashboard-dist:/dashboard-dist

  dashboard:
    image: audius/dashboard:${TAG:-1eb3aa1f90b4ee37edd15d8e5145b60e6c7394a7}-${NETWORK:-prod}
    container_name: dashboard
    restart: unless-stopped
    networks:
      - creator-node-network
    volumes:
      - dashboard-dist:/app/dist

  uptime:
    image: audius/uptime:${TAG:-1eb3aa1f90b4ee37edd15d8e5145b60e6c7394a7}
    container_name: uptime
    <<: *extra-hosts
    restart: unless-stopped
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - creator-node-network
    volumes:
      - /var/k8s/bolt:/bolt

networks:
  creator-node-network:

volumes:
  caddy_data:
  caddy_config:
  dashboard-dist:
