version: "3.9"

services:
  caddy:
    image: audius/caddy:2.7.4
    container_name: caddy
    restart: unless-stopped
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - ddex-network
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  ddex:
    image: audius/ddex-processor:${TAG:-6c7d892935b573dc3b148369a5561bd416894310}
    container_name: ddex
    restart: unless-stopped
    environment:
      - NETWORK=${NETWORK:-prod}
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    volumes:
      - ./data:/app/packages/ddex/processor/data
    networks:
      - ddex-network

  vector:
    extends:
      file: ../common-services.yml
      service: vector
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - ddex-network

networks:
  ddex-network:

volumes:
  caddy_data:
  caddy_config:
