<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.log">

  <targets>
    <target name="console" xsi:type="Console" layout="${longdate} ${level:uppercase=true}: ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Nethermind.JsonRpc.JsonRpcService" minlevel="Error" writeTo="file-async" />
    <logger name="Nethermind.JsonRpc.JsonRpcService" minlevel="Error" writeTo="auto-colored-console-async" />
  </rules>

</nlog>
