{$audius_discprov_url}

{$CADDY_TLS}

encode zstd gzip

reverse_proxy /comms* comms:8925

reverse_proxy /healthz* healthz

route /dashboard* {
    redir /dashboard /dashboard/ 308
    reverse_proxy dashboard:5173
}

reverse_proxy backend:5000
