{$audius_discprov_url}

{$CADDY_TLS}

encode zstd gzip

@comms {
    path /comms*
    expression "{$NO_COMMS}" == ""
}
reverse_proxy @comms comms:8925

@healthz {
    path /healthz*
    expression "{$NO_HEALTHZ}" == ""
}
reverse_proxy @healthz healthz

@dashboard {
    path /dashboard*
    expression "{$NO_DASHBOARD}" == ""
}
route @dashboard {
    redir /dashboard /dashboard/ 308
    uri strip_prefix /dashboard
    root * /dashboard-dist
    file_server
}

@ddex {
    path /ddex*
    expression "{$NO_DDEX}" == ""
}
route @ddex {
    redir /ddex /ddex/ 308
    uri strip_prefix /ddex
    reverse_proxy ddex:8926
}

# defaults to backend:5000
reverse_proxy {$ROOT_HOST:"backend:5000"}
