# Define a snippet for common reverse proxy configuration
(common) {
	reverse_proxy /comms* comms:8925
	reverse_proxy /healthz* healthz
	route /dashboard* {
		redir /dashboard /dashboard/ 308
		uri strip_prefix /dashboard
		root * /dashboard-dist
		file_server
	}
	reverse_proxy backend:5000
}

# Assume we're already SSL-terminated when hitting port 5000 directly
:5000 {
	tls internal
	encode zstd gzip
	import common
}

# Respect TLS env var for ports 80 and 443
{$audius_discprov_url} {
	{$CADDY_TLS}
	encode zstd gzip
	import common
}
