version: "3.9"

# used by audius-d devnet
x-extra-hosts: &extra-hosts
  extra_hosts:
    - "creator-1.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "discovery-1.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "identity.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "eth-ganache.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "acdc-ganache.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"
    - "solana-test-validator.devnet.audius-d:${HOST_DOCKER_INTERNAL:-172.100.0.1}"

services:
  delete-chain:
    container_name: delete-chain
    image: alpine:latest
    command: >
      sh -c "rm -rf /data/discovery-provider-chain && echo 'Deletion completed' || (echo 'Error during deletion' >&2; exit 1)"
    volumes:
      - /var/k8s:/data
    networks:
      - discovery-provider-network
    profiles:
      - delete-chain

  db:
    container_name: postgres
    image: postgres:${audius_pg_upgrade_to_version:-11.22-bookworm}
    shm_size: 2g
    restart: always
    entrypoint: >
        /bin/bash -c
        "if [ -f /var/lib/postgresql/data/pg_hba.conf ]; then
          if [[ $$(tail -n 1 /var/lib/postgresql/data/pg_hba.conf) != 'hostnossl    all          all            0.0.0.0/0  trust' ]]; then
            echo 'hostnossl    all          all            0.0.0.0/0  trust' >> /var/lib/postgresql/data/pg_hba.conf;
          fi;
        fi;
        /usr/local/bin/docker-entrypoint.sh postgres -c shared_buffers=2GB -c max_connections=500 -c shared_preload_libraries=pg_stat_statements -c listen_addresses='*'"
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 10s
      timeout: 5s
    ports:
      - '${EXPOSE_POSTGRES:-127.0.0.1:5432}:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: audius_discovery
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    volumes:
      - /var/k8s/discovery-provider-db:/var/lib/postgresql/data
    networks:
      - discovery-provider-network

  delete-db:
    container_name: delete-db
    image: alpine:latest
    command: >
      sh -c "rm -rf /data/* && echo 'Deletion completed' || (echo 'Error during deletion' >&2; exit 1)"
    volumes:
      - /var/k8s/discovery-provider-db:/data
    networks:
      - discovery-provider-network
    profiles:
      - delete-db

  optimize-db:
    container_name: optimize-db
    image: postgres:15.5-bookworm
    environment:
      - PGPASSWORD=postgres
    command: >
      sh -c "
      psql -h db -U postgres -d audius_discovery -c 'VACUUM FULL;' &&
      psql -h db -U postgres -d audius_discovery -c 'REINDEX DATABASE audius_discovery;' &&
      psql -h db -U postgres -d audius_discovery -c 'ANALYZE;' &&
      echo 'Database optimization completed'
      "
    networks:
      - discovery-provider-network
    profiles:
      - optimize-db

  exporter_postgres:
    extends:
      file: ../common-services.yml
      service: exporter_postgres
    container_name: exporter_postgres
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network

  cache:
    container_name: redis
    restart: always
    extends:
      file: ../common-services.yml
      service: base-redis
    networks:
      - discovery-provider-network
  exporter_redis:
    extends:
      file: ../common-services.yml
      service: exporter_redis
    container_name: exporter_redis
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.0
    restart: always
    environment:
      - network.host=0.0.0.0
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - node.name=cluster1-node1
      - xpack.license.self_generated.type=basic
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms${ES_MEM:-2g} -Xmx${ES_MEM:-2g}"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - ${EXPOSE_ELASTICSEARCH:-127.0.0.1:39200}:9200
    networks:
      - discovery-provider-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --silent --fail elasticsearch:9200/_cluster/health || exit 1"
        ]
      interval: 10s
      timeout: 5s
  exporter_elasticsearch:
    extends:
      file: ../common-services.yml
      service: exporter_elasticsearch
    container_name: exporter_elasticsearch
    entrypoint:
      [
        "/bin/sh",
        "-c",
        '/bin/elasticsearch_exporter --es.uri="$$audius_elasticsearch_url"'
      ]
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network

  relay:
    image: audius/relay:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: relay
    <<: *extra-hosts
    restart: unless-stopped
    networks:
      - discovery-provider-network
    environment:
      - ENVIRONMENT=${NETWORK}
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    ports:
      - "6001:6001"

  openresty:
    image: audius/discovery-provider-openresty:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: openresty
    <<: *extra-hosts
    restart: unless-stopped
    env_file:
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network
    ports:
      - "5000:5000"

  backend:
    container_name: server
    image: audius/discovery-provider:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    <<: *extra-hosts
    restart: always
    mem_limit: "${SERVER_MEM_LIMIT:-16000000000}"
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      indexer:
        condition: service_healthy
    labels:
      autoheal: "true"
    ports:
      - "3000:3000"
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    environment:
      - audius_discprov_infra_setup=audius-docker-compose
      - audius_no_workers=true
      - audius_db_run_migrations=false
      - audius_elasticsearch_run_indexer=false
    networks:
      - discovery-provider-network

  indexer:
    container_name: indexer
    image: audius/discovery-provider:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    <<: *extra-hosts
    restart: always
    mem_limit: 2.8g
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    labels:
      autoheal: "true"
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    environment:
      - audius_discprov_infra_setup=audius-docker-compose
      - audius_no_server=true
      - audius_db_run_migrations=true
      - audius_elasticsearch_run_indexer=true
    healthcheck:
      test: >
        /bin/sh -c
        "if pgrep -af pg_migrate | grep -v 'pgrep -af pg_migrate' > /dev/null; then
            # Unhealthy if pg_migrate is found, excluding the pgrep command itself
            exit 1
        elif pgrep -af celery | grep -v 'pgrep -af celery' > /dev/null; then
            # Healthy if celery is found, excluding the pgrep command itself
            exit 0
        else
            # Unhealthy in all other cases
            exit 1
        fi"
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 120m
    networks:
      - discovery-provider-network

  seed:
    image: audius/discovery-provider:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    command: bash /usr/share/seed.sh ${NETWORK:-prod}
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    volumes:
      - ./seed.sh:/usr/share/seed.sh
    depends_on:
      db:
        condition: service_healthy
    networks:
      - discovery-provider-network
    profiles:
      - seed

  autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - AUTOHEAL_INTERVAL=10
      - CURL_TIMEOUT=30

  vector:
    extends:
      file: ../common-services.yml
      service: vector
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network
    volumes:
      - /home/ubuntu/audius-docker-compose/auto-upgrade.log:/auto-upgrade.log

  exporter_linux:
    extends:
      file: ../common-services.yml
      service: exporter_linux
    container_name: exporter_linux

  exporter_docker:
    extends:
      file: ../common-services.yml
      service: exporter_docker
    networks:
      - discovery-provider-network

  comms:
    image: audius/comms:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: comms
    command: comms discovery
    <<: *extra-hosts
    restart: unless-stopped
    networks:
      - discovery-provider-network
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file

  es-indexer:
    image: audius/es-indexer:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: es-indexer
    restart: unless-stopped
    networks:
      - discovery-provider-network
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file

  trpc:
    image: audius/trpc:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: trpc
    restart: unless-stopped
    networks:
      - discovery-provider-network
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    ports:
      - "2022:2022"

  chain:
    image: audius/nethermind:1.14.3
    container_name: chain
    <<: *extra-hosts
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --fail localhost:8545/health || exit 1"
        ]
    command: --config config
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    environment:
      # Use the delegate private key as the signer key for the chain.
      # Because the env_file is generated dynamically, default to blank string if not set
      # otherwise we will always see a warning.
      - NETHERMIND_KEYSTORECONFIG_TESTNODEKEY=${audius_delegate_private_key:-}
    volumes:
      - ./chain/spec.json:/config/spec.json
      - ./chain/static-nodes.json:/nethermind/Data/static-nodes.json
      - ./chain/config.cfg:/nethermind/configs/config.cfg
      - ./chain/NLog.config:/nethermind/NLog.config
      - /var/k8s/discovery-provider-chain/db/clique:/nethermind/nethermind_db/clique
      - /var/k8s/discovery-provider-chain/keystore:/nethermind/keystore
    labels:
      autoheal: "true"
    ports:
      - "30300:30300"
      - "30300:30300/udp"
      - "127.0.0.1:8545:8545"
    networks:
      - discovery-provider-network
    profiles:
      - chain
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file

  healthz:
    image: audius/healthz:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: healthz
    restart: unless-stopped
    networks:
      - discovery-provider-network

  caddy:
    image: audius/caddy:2.7.4
    container_name: caddy
    <<: *extra-hosts
    restart: unless-stopped
    env_file:
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - dashboard-dist:/dashboard-dist

  dashboard:
    image: audius/dashboard:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}-${NETWORK:-prod}
    container_name: dashboard
    restart: unless-stopped
    environment:
      - NETWORK=${NETWORK:-prod}
    networks:
      - discovery-provider-network
    volumes:
      - dashboard-dist:/app/dist

  uptime:
    image: audius/uptime:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: uptime
    <<: *extra-hosts
    restart: unless-stopped
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network
    volumes:
      - /var/k8s/bolt:/bolt

  # plugins

  # === ddex ===
  
  ddex-web:
    image: audius/ddex:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: ddex-web
    restart: unless-stopped
    environment:
      - NODE_ENV=${NETWORK:-prod}
      - DDEX_PORT=3000
    env_file:
      - ${OVERRIDE_PATH:-override.env}
    networks:
      - discovery-provider-network
    ports:
      - "3000:3000"
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health_check || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    profiles:
      - ddex

  # === end ddex ===

  notifications:
    image: audius/discovery-provider-notifications:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: notifications
    restart: unless-stopped
    networks:
      - discovery-provider-network
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file
    profiles:
      - notifications
    ports:
      - "6000:6000"

  sla-auditor:
    image: audius/sla-auditor:${TAG:-e8d15311bb3978c988ef672ceb6b46fc8f6d990d}
    container_name: sla-auditor
    restart: unless-stopped
    networks:
      - discovery-provider-network
    env_file:
      - ${NETWORK:-prod}.env
      - ${OVERRIDE_PATH:-override.env}
    profiles:
      - sla-auditor
    logging:
      options:
        max-size: 10m
        max-file: 3
        mode: non-blocking
        max-buffer-size: 100m
      driver: json-file

  metabase:
    image: metabase/metabase:v0.48.0
    container_name: metabase
    hostname: metabase
    volumes:
      - /dev/urandom:/dev/random:ro
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: audius_discovery
      MB_DB_PORT: 5432
      MB_DB_USER: postgres
      MB_DB_PASS: postgres
      MB_DB_HOST: postgres
    networks:
      - discovery-provider-network
    ports:
      - "3000:3000"
    profiles:
      - metabase
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5


networks:
  discovery-provider-network:

volumes:
  esdata:
  caddy_data:
  caddy_config:
  dashboard-dist:
